$white: #fff;
$dirty-white: rgba(250, 250, 250, 0.99);
$en-dirty-white: #D2D2D2;
$black: #000;
$pink: #F78CB6;
$btn-pink: #F78BB6;
$light-pink: #FFF1F9;
$green: #8DFD1B;
$grey: #AAAAAB;
$light-grey: #919299;
$dark-grey: #222222;
$purple: #56597A;